@font-face {
  font-family: "iconfont"; /* Project id 4898766 */
  src: url('iconfont.woff2?t=1758639028485') format('woff2'),
       url('iconfont.woff?t=1758639028485') format('woff'),
       url('iconfont.ttf?t=1758639028485') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanbutihuan:before {
  content: "\e632";
}

.icon-chazhaotihuan1:before {
  content: "\e687";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-xiangyou:before {
  content: "\e64a";
}

.icon-chazhaotihuan:before {
  content: "\e615";
}

.icon-shujubeifenhuifu:before {
  content: "\e6a5";
}

.icon-juzhongduiqi:before {
  content: "\ec80";
}

.icon-juyou:before {
  content: "\e618";
}

.icon-juzuo:before {
  content: "\e619";
}

.icon-yanseban:before {
  content: "\e604";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec86";
}

.icon-tianjiatupian:before {
  content: "\e70a";
}

.icon-gouxuananniu:before {
  content: "\e613";
}

.icon-gouxuananniu1:before {
  content: "\e614";
}

.icon-zhongqi:before {
  content: "\e631";
}

.icon-HTML:before {
  content: "\e617";
}

.icon-shangyiji:before {
  content: "\e691";
}

.icon-xiayiji:before {
  content: "\e603";
}

.icon-shangyi:before {
  content: "\e62b";
}

.icon-xiayi:before {
  content: "\e639";
}

.icon-lishijilu:before {
  content: "\e63f";
}

.icon-xiugai:before {
  content: "\e601";
}

.icon-quxiao:before {
  content: "\e64f";
}

.icon-queding:before {
  content: "\e714";
}

.icon-daochuexl:before {
  content: "\e667";
}

.icon-daochutxt:before {
  content: "\e6d4";
}

.icon-shouhangsuojin:before {
  content: "\e602";
}

.icon-shanchukonghang:before {
  content: "\e705";
}

.icon-jianqie:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-zuixiaohua:before {
  content: "\e650";
}

.icon-zuidahua_huaban1:before {
  content: "\e673";
}

.icon-xinjian:before {
  content: "\e67c";
}

.icon-jiaru:before {
  content: "\e7c4";
}

.icon-txt:before {
  content: "\e60d";
}

.icon-Epub:before {
  content: "\e61d";
}

